.bg-image {
    background-image: url('https://images.pexels.com/photos/3184192/pexels-photo-3184192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* URL gambar dari internet */
    background-size: cover; /* Mengubah ukuran gambar agar menutupi seluruh kontainer */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah pengulangan gambar */
  }